<footer id="footer" class="footer-area">
  <!-- footer-top-area start -->
  <div class="footer-top-area">
    <div class="footer-widgets">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-4">
            <!-- single-footer-widget start -->
            <div class="single-footer-widget">
              <h6 class="widget-title">about us</h6>
              <p class="about-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                some form, by injected humour, or randomised words which.</p>
              <div class="footer-social-links">
                <ul>
                  <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                  <li><a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
                  <li><a href="#"><i class="zmdi zmdi-rss"></i></a></li>
                  <li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                  <li><a href="#"><i class="zmdi zmdi-dribbble"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- single-footer-widget end -->
          </div>
          <div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-0">
            <!-- single-footer-widget start -->
            <div class="single-footer-widget">
              <h6 class="widget-title">newsletter</h6>
              <!-- newsletter-subscription start -->
              <div class="newsletter-subscription">
                <p>Lorem ipsum dolor sit amet, ne his postea cetero, scaevola post sulant consequuntur eam ei, partiendo intellegat.</p>
                <div class="newsletter-form">
                  <form action="#" method="post">
                    <input type="text" name="email" placeholder="Your email here..." />
                    <input type="submit" class="subscribe-btn" value="subscribe" />
                  </form>
                </div>
              </div>
              <!-- newsletter-subscription end -->
            </div>
            <!-- single-footer-widget end -->
          </div>
          <div class="col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-0">
            <!-- single-footer-widget start -->
            <div class="single-footer-widget">
              <h6 class="widget-title">Instagram</h6>
              <!-- instagram-feeds start -->
              <div class="instagram-feeds">
                <div class="row">
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="instagram-img">
                      <img src="../../../assets/shaad-theme/img/instagram/1.jpg" alt="" />
                      <div class="instagram-img-overlay">
                        <div class="plus-icon">
                          <a class="magnify" href="../../../assets/shaad-theme/img/instagram/1.jpg">
                            <i class="zmdi zmdi-plus"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="instagram-img">
                      <img src="../../../assets/shaad-theme/img/instagram/2.jpg" alt="" />
                      <div class="instagram-img-overlay">
                        <div class="plus-icon">
                          <a class="magnify" href="../../../assets/shaad-theme/img/instagram/2.jpg">
                            <i class="zmdi zmdi-plus"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="instagram-img">
                      <img src="../../../assets/shaad-theme/img/instagram/3.jpg" alt="" />
                      <div class="instagram-img-overlay">
                        <div class="plus-icon">
                          <a class="magnify" href="../../../assets/shaad-theme/img/instagram/3.jpg">
                            <i class="zmdi zmdi-plus"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="instagram-img">
                      <img src="../../../assets/shaad-theme/img/instagram/4.jpg" alt="" />
                      <div class="instagram-img-overlay">
                        <div class="plus-icon">
                          <a class="magnify" href="../../../assets/shaad-theme/img/instagram/4.jpg">
                            <i class="zmdi zmdi-plus"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="instagram-img">
                      <img src="../../../assets/shaad-theme/img/instagram/5.jpg" alt="" />
                      <div class="instagram-img-overlay">
                        <div class="plus-icon">
                          <a class="magnify" href="../../../assets/shaad-theme/img/instagram/5.jpg">
                            <i class="zmdi zmdi-plus"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="instagram-img">
                      <img src="../../../assets/shaad-theme/img/instagram/6.jpg" alt="" />
                      <div class="instagram-img-overlay">
                        <div class="plus-icon">
                          <a class="magnify" href="../../../assets/shaad-theme/img/instagram/6.jpg">
                            <i class="zmdi zmdi-plus"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- instagram-feeds end -->
            </div>
            <!-- single-footer-widget end -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer-top-area end -->
  <!-- footer-bottom start -->
  <div class="footer-bottom">
    <div class="copyright-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="copyright-text">&copy;</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer-bottom start -->
</footer>