<div id="contact" class="contact-area">
  <div id="map" class="map-area"></div>
  <div class="contact-details">
    <h6>Contact details</h6>
    <div class="restaurant-info">
      <p>
        <i class="zmdi zmdi-home"></i>
        <span>701, Street of Dhaka, 10567 B <br/>Marsomara, , Dhaka-1207</span>
      </p>
      <p>
        <i class="zmdi zmdi-phone"></i>
        <a href="tel:(+550)192601655">(+550) 1926 01655</a>
        <a href="tel:(+550)192601656">(+550) 1926 01656</a>
      </p>
      <p>
        <i class="zmdi zmdi-email"></i>
        <a href="mailto:info@domainname.com">info@domainname.com</a>
        <a href="mailto:company@outlook.com">company@outlook.com</a>
      </p>
    </div>
  </div>
</div>

<div id="our-blog" class="our-blog-area">
  <div class="container">
    <div class="row">
      <div class="latest-blog-posts">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <!-- single-blog-post start -->
              <div class="single-blog-post">
                <div class="post-img">
                  <a href="#">
                    <img src="../../../assets/shaad-theme/img/latest-blogs/1.jpg" alt="">
                  </a>
                  <div class="post-overlay">
                    <div class="post-icon">
                      <a href="#"><i class="zmdi zmdi-link"></i></a>
                    </div>
                  </div>
                </div>
                <div class="post-details">
                  <p class="post-meta"><span>26</span> // jun, 2016</p>
                  <h6 class="post-title"><a href="#">Lorem ipsum dolor sit amet,</a></h6>
                  <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipisces elit, sed do eiusmod tempor incididunt ut labore dolore
                    magna aliqua.</p>
                  <a href="#" class="read-more">Read more</a>
                </div>
              </div>
              <!-- single-blog-post end -->
            </div>
            <div class="col-md-6 col-sm-6">
              <!-- single-blog-post start -->
              <div class="single-blog-post">
                <div class="post-img">
                  <a href="#">
                    <img src="../../../assets/shaad-theme/img/latest-blogs/2.jpg" alt="">
                  </a>
                  <div class="post-overlay">
                    <div class="post-icon">
                      <a href="#"><i class="zmdi zmdi-link"></i></a>
                    </div>
                  </div>
                </div>
                <div class="post-details">
                  <p class="post-meta"><span>26</span> // jun, 2016</p>
                  <h6 class="post-title"><a href="#">Lorem ipsum dolor sit amet,</a></h6>
                  <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipisces elit, sed do eiusmod tempor incididunt ut labore dolore
                    magna aliqua.</p>
                  <a href="#" class="read-more">Read more</a>
                </div>
              </div>
              <!-- single-blog-post end -->
            </div>
            <div class="col-md-6 col-sm-6">
              <!-- single-blog-post start -->
              <div class="single-blog-post">
                <div class="post-img">
                  <a href="#">
                    <img src="../../../assets/shaad-theme/img/latest-blogs/3.jpg" alt="">
                  </a>
                  <div class="post-overlay">
                    <div class="post-icon">
                      <a href="#"><i class="zmdi zmdi-link"></i></a>
                    </div>
                  </div>
                </div>
                <div class="post-details">
                  <p class="post-meta"><span>26</span> // jun, 2016</p>
                  <h6 class="post-title"><a href="#">Lorem ipsum dolor sit amet,</a></h6>
                  <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipisces elit, sed do eiusmod tempor incididunt ut labore dolore
                    magna aliqua.</p>
                  <a href="#" class="read-more">Read more</a>
                </div>
              </div>
              <!-- single-blog-post end -->
            </div>
            <div class="col-md-6 col-sm-6">
              <!-- single-blog-post start -->
              <div class="single-blog-post">
                <div class="post-img">
                  <a href="#">
                    <img src="../../../assets/shaad-theme/img/latest-blogs/4.jpg" alt="">
                  </a>
                  <div class="post-overlay">
                    <div class="post-icon">
                      <a href="#"><i class="zmdi zmdi-link"></i></a>
                    </div>
                  </div>
                </div>
                <div class="post-details">
                  <p class="post-meta"><span>26</span> // jun, 2016</p>
                  <h6 class="post-title"><a href="#">Lorem ipsum dolor sit amet,</a></h6>
                  <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipisces elit, sed do eiusmod tempor incididunt ut labore dolore
                    magna aliqua.</p>
                  <a href="#" class="read-more">Read more</a>
                </div>
              </div>
              <!-- single-blog-post end -->
            </div>
            <div class="col-md-6 col-sm-6">
              <!-- single-blog-post start -->
              <div class="single-blog-post">
                <div class="post-img">
                  <a href="#">
                    <img src="../../../assets/shaad-theme/img/latest-blogs/5.jpg" alt="">
                  </a>
                  <div class="post-overlay">
                    <div class="post-icon">
                      <a href="#"><i class="zmdi zmdi-link"></i></a>
                    </div>
                  </div>
                </div>
                <div class="post-details">
                  <p class="post-meta"><span>26</span> // jun, 2016</p>
                  <h6 class="post-title"><a href="#">Lorem ipsum dolor sit amet,</a></h6>
                  <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipisces elit, sed do eiusmod tempor incididunt ut labore dolore
                    magna aliqua.</p>
                  <a href="#" class="read-more">Read more</a>
                </div>
              </div>
              <!-- single-blog-post end -->
            </div>
            <div class="col-md-6 col-sm-6">
              <!-- single-blog-post start -->
              <div class="single-blog-post">
                <div class="post-img">
                  <a href="#">
                    <img src="../../../assets/shaad-theme/img/latest-blogs/6.jpg" alt="">
                  </a>
                  <div class="post-overlay">
                    <div class="post-icon">
                      <a href="#"><i class="zmdi zmdi-link"></i></a>
                    </div>
                  </div>
                </div>
                <div class="post-details">
                  <p class="post-meta"><span>26</span> // jun, 2016</p>
                  <h6 class="post-title"><a href="#">Lorem ipsum dolor sit amet,</a></h6>
                  <p class="post-excerpt">Lorem ipsum dolor sit amet, consectetur adipisces elit, sed do eiusmod tempor incididunt ut labore dolore
                    magna aliqua.</p>
                  <a href="#" class="read-more">Read more</a>
                </div>
              </div>
              <!-- single-blog-post end -->
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="pagination-area text-center">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="previous-link" href="#"><i class="zmdi zmdi-long-arrow-left"></i></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">01</a></li>
                  <li class="page-item"><a class="page-link active" href="#">02</a></li>
                  <li class="page-item"><a class="page-link" href="#">03</a></li>
                  <li class="page-item"><a class="page-link" href="#">04</a></li>
                  <li class="page-item"><a class="page-link" href="#">05</a></li>
                  <li class="page-item">
                    <a class="next-link" href="#"><i class="zmdi zmdi-long-arrow-right"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="sidebar-widget-area">
            <!-- single-sidebar-widget start -->
            <div class="single-sidebar-widget recent-blogs">
              <h6 class="widget-title">Recent Blogs</h6>
              <div class="recent-blog-posts">
                <!-- single-recent-blog start -->
                <div class="single-recent-blog">
                  <div class="recent-blog-img">
                    <a href="#"><img src="../../../assets/shaad-theme/img/latest-blogs/1.jpg" alt=""></a>
                  </div>
                  <div class="recent-blog-info">
                    <h6><a href="#">Your Blog Name here.</a></h6>
                    <span><i class="zmdi zmdi-time"></i> June 12, 2017</span>
                  </div>
                </div>
                <!-- single-recent-blog end -->
                <!-- single-recent-blog start -->
                <div class="single-recent-blog">
                  <div class="recent-blog-img">
                    <a href="#"><img src="../../../assets/shaad-theme/img/latest-blogs/2.jpg" alt=""></a>
                  </div>
                  <div class="recent-blog-info">
                    <h6><a href="#">Your Blog Name here.</a></h6>
                    <span><i class="zmdi zmdi-time"></i> June 12, 2017</span>
                  </div>
                </div>
                <!-- single-recent-blog end -->
                <!-- single-recent-blog start -->
                <div class="single-recent-blog">
                  <div class="recent-blog-img">
                    <a href="#"><img src="../../../assets/shaad-theme/img/latest-blogs/3.jpg" alt=""></a>
                  </div>
                  <div class="recent-blog-info">
                    <h6><a href="#">Your Blog Name here.</a></h6>
                    <span><i class="zmdi zmdi-time"></i> June 12, 2017</span>
                  </div>
                </div>
                <!-- single-recent-blog end -->
              </div>
            </div>
            <!-- single-sidebar-widget end -->
            <!-- single-sidebar-widget start -->
            <div class="single-sidebar-widget categories-list">
              <h6 class="widget-title">Categories</h6>
              <ul>
                <li><a href="#">Restaurants<span>(20)</span></a></li>
                <li><a href="#">Dinner<span>(30)</span></a></li>
                <li><a href="#">Lunch<span>(25)</span></a></li>
                <li><a href="#">Breakfast<span>(26)</span></a></li>
                <li><a href="#">Health<span>(44)</span></a></li>
                <li><a href="#">Drinking Water<span>(52)</span></a></li>
                <li><a href="#">Snack<span>(29)</span></a></li>
              </ul>
            </div>
            <!-- single-sidebar-widget end -->
            <!-- single-sidebar-widget start -->
            <div class="single-sidebar-widget recent-comments">
              <h6 class="widget-title">Recent comments</h6>
              <ul>
                <li>
                  <a class="comment-author" href="#">Subash Chandra Das</a>
                  <p>There are many variations of passag of Lorem Ipsum available...</p>
                </li>
                <li>
                  <a class="comment-author" href="#">Subash Chandra Das</a>
                  <p>There are many variations of passag of Lorem Ipsum available...</p>
                </li>
                <li>
                  <a class="comment-author" href="#">Imran molla</a>
                  <p>There are many variations of passag of Lorem Ipsum available...</p>
                </li>
              </ul>
            </div>
            <!-- single-sidebar-widget end -->
            <!-- single-sidebar-widget start -->
            <div class="single-sidebar-widget ad-banner">
              <div class="ad-banner-img">
                <a href="#">
                  <img src="../../../assets/shaad-theme/img/ad-banner.jpg" alt="">
                </a>
              </div>
            </div>
            <!-- single-sidebar-widget start -->
          </div>
          <!-- /.sidebar-widget-area -->
        </div>
      </div>
    </div>
  </div>
</div>