<div class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-title text-center">Single blog post</h1>
        <div class="breadcrumb-container">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Single Blog Post</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- blog-details-area start -->
<div id="blog-details" class="blog-details-area">
  <div class="container">
    <ul>
      <li *ngFor="let value of values | async">
        {{value | json}}
      </li>
    </ul>
    <div class="row">
      <div class="col-md-12">
        <div class="single-blog-details">
          <div class="single-blog-img">
            <img src="../../../assets/shaad-theme/img/latest-blogs/single-blog.jpg" alt="">
          </div>
          <div class="post-metas">
            <p class="post-date"><span>26</span> // jun, 2016</p>
            <p class="post-tags">Tags:
              <span><a href="#">Chair</a></span>
              <span><a href="#">Furniture</a></span>
              <span><a href="#">Light</a></span>
              <span><a href="#">Table</a></span>
            </p>
          </div>
          <h4 class="post-title">There are many variations passages Lorem Ipsum available</h4>
          <div class="post-other-metas">
            <ul>
              <li>Posted by : <a href="#">Suborna Vumik</a></li>
              <li><a href="#">89 Likes</a></li>
              <li><a href="#">59 Comments</a></li>
              <li><a href="#">29 Shares</a></li>
            </ul>
          </div>
          <div class="single-post-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
              aperiam.
            </p>
            <p>nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
              dolore eu fugiate nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt ab illo inventore veritatis
              et quasi architecto beatae vitae dicta sunt explicabo.nisi ut aliquip ex ea commodo consequat. Duis aute irure
              dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
              eos quirates voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
              adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore.</p>
          </div>
          <div class="about-post-author">
            <div class="author-img">
              <img src="../../../assets/shaad-theme/img/comments/author.jpg" alt="post author">
            </div>
            <div class="author-info">
              <h6>Suborna Vumik</h6>
              <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not that
                are extremely painful. Nor again is there anyone who loves or pursues,</p>
            </div>
          </div>
        </div>
        <!-- comments-area start -->
        <div class="comments-area">
          <h6>customer comments</h6>
          <div class="comments-wrapper">
            <!-- single-comment start -->
            <div class="single-comment">
              <!-- comment start -->
              <div class="comment">
                <div class="author-avatar">
                  <img src="../../../assets/shaad-theme/img/comments/comment-author1.jpg" alt="">
                </div>
                <div class="comment-info">
                  <h6>Tabassum Akter</h6>
                  <p class="commented-on">27 Jun, 2016 at 2:30pm</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas elese ifend. Phasellus
                    a felis at est bibendum feugiat ut eget eni Praesent messages in con sectetur posuere felis at est bibendum
                    dolor non.</p>
                  <div class="action-btns">
                    <span><a href="#">Reply</a></span>
                    <span><a href="#">Delete</a></span>
                  </div>
                </div>
              </div>
              <!-- comment end -->
              <!-- reply start -->
              <div class="reply">
                <div class="author-avatar">
                  <img src="../../../assets/shaad-theme/img/comments/comment-author2.jpg" alt="">
                </div>
                <div class="comment-info">
                  <h6>Tabia alim naina</h6>
                  <p class="commented-on">27 Jun, 2016 at 2:30pm</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas elese ifend. Phasellus
                    a felis at est bibendum feugiat ut eget eni Praesent messages in con sectetur posuere felis at est bibendum
                    dolor non.</p>
                  <div class="action-btns">
                    <span><a href="#">Reply</a></span>
                    <span><a href="#">Delete</a></span>
                  </div>
                </div>
              </div>
              <!-- reply end -->
            </div>
            <!-- single-comment end -->
            <!-- single-comment start -->
            <div class="single-comment">
              <!-- comment start -->
              <div class="comment">
                <div class="author-avatar">
                  <img src="../../../assets/shaad-theme/img/comments/comment-author3.jpg" alt="">
                </div>
                <div class="comment-info">
                  <h6>Tabassum Akter</h6>
                  <p class="commented-on">27 Jun, 2016 at 2:30pm</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas elese ifend. Phasellus
                    a felis at est bibendum feugiat ut eget eni Praesent messages in con sectetur posuere felis at est bibendum
                    dolor non.</p>
                  <div class="action-btns">
                    <span><a href="#">Reply</a></span>
                    <span><a href="#">Delete</a></span>
                  </div>
                </div>
              </div>
              <!-- comment end -->
            </div>
            <!-- single-comment end -->
          </div>
        </div>
        <!-- comments-area start -->
        <!-- comments-form-area start -->
        <div class="comments-form-area">
          <h6 class="comment-form-title">leave your comments</h6>
          <div class="comment-form">
            <form action="#">
              <div class="row">
                <div class="col-md-6">
                  <div class="single-field">
                    <input type="text" placeholder="Your Name Here...">
                    <i class="zmdi zmdi-account"></i>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-field">
                    <input type="text" placeholder="Phone here...">
                    <i class="zmdi zmdi-phone"></i>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-field">
                    <input type="text" placeholder="Email here...">
                    <i class="zmdi zmdi-email-open"></i>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-field">
                    <input type="text" placeholder="Subject...">
                    <i class="zmdi zmdi-assignment"></i>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="single-field">
                    <textarea placeholder="Message here..."></textarea>
                    <i class="zmdi zmdi-edit"></i>
                  </div>
                </div>
              </div>
              <div class="submit-btn">
                <input type="submit" value="Submit comment">
              </div>
            </form>
          </div>
        </div>
        <!-- comments-form-area start -->
      </div>
    </div>
  </div>
</div>