<div class="home-banner-container row vertical-align">
  <div class="content col-lg-10 col-md-offset-1">
    <!-- layer-1 -->
    <div class="left-column col-sm-6 hidden-xs">
      <img src="../../../assets/images/home-banner-food.jpg" alt="" />
    </div>
    <div class="right-column col-sm-6">
      <div class="titles">
        <h2 class="title-1">{{ 'home.banner_greetings' | i18n }}</h2>
        <h1 class="title-2">{{ 'home.banner_hungry' | i18n }}</h1>
      </div>
      <div class="wording">
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
          form, by injected humour. </p>
      </div>
      <div class="button-container">
        <input type="button" class="fancy-button-red" routerLink="/order" [value]="'home.order_button' | i18n">
        <input type="button" class="fancy-button-white" routerLink="/registration" [value]="'home.register_button' | i18n">
      </div>
      <div class="button-container">
      </div>
    </div>
  </div>
</div>

<!-- our-menu-area start -->
<div id=" our-menu " class="our-menu-area ">
  <div class="container ">
    <div class="row ">
      <div class="col-md-12 ">
        <div class="section-title ">
          <h1>our menu</h1>
        </div>
      </div>
      <!-- our-menu-content start -->
      <div class="our-menu-content ">
        <div class="col-md-12 ">
          <div class="our-menu-tabs ">
            <!-- Nav tabs -->
            <ul class="tab-list " role="tablist ">
              <li role="presentation " class="active "><a href="#breakfast " aria-controls="breakfast " role="tab
          " data-toggle="tab ">Breakfast</a></li>
              <li role="presentation "><a href="#lunch " aria-controls="lunch " role="tab " data-toggle="tab ">Lunch</a></li>
              <li role="presentation "><a href="#dinner " aria-controls="dinner " role="tab " data-toggle="tab ">Dinner</a></li>
              <li role="presentation "><a href="#snack " aria-controls="snack " role="tab " data-toggle="tab ">Snack</a></li>
            </ul>
          </div>
        </div>
        <!-- our-menu-items start -->
        <div class="our-menu-items ">
          <!-- Tab panes -->
          <div class="tab-content ">
            <div role="tabpanel " class="tab-pane fade in active " id="breakfast ">
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/1.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/2.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/3.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/4.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/5.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/6.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/7.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/8.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
            </div>
            <div role="tabpanel " class="tab-pane fade " id="lunch ">
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/2.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/4.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/6.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/8.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/3.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/1.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/5.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/7.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
            </div>
            <div role="tabpanel " class="tab-pane fade " id="dinner ">
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/3.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/1.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/5.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/7.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/4.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/6.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/2.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/8.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
            </div>
            <div role="tabpanel " class="tab-pane fade " id="snack ">
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/1.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/3.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/7.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/5.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/8.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/4.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/2.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 ">
                <!-- single-menu-item start -->
                <div class="single-menu-item ">
                  <div class="item-img ">
                    <a href="# "><img src="../../../assets/shaad-theme/img/menu-items/6.jpg " alt="Menu Item " /></a>
                  </div>
                  <div class="menu-item-info ">
                    <h6 class="item-name "><a href="# ">French Fries with salad</a></h6>
                    <h6 class="item-price ">$260.00</h6>
                  </div>
                </div>
                <!-- single-menu-item end -->
              </div>
            </div>
          </div>
          <!-- /.tab-content -->
        </div>
        <!-- our-menu-items end -->
        <div class="load-more-btn-container text-center ">
          <div class="col-md-12 ">
            <a href="# " class="load-more ">...</a>
          </div>
        </div>
      </div>
      <!-- our-menu-content end -->
    </div>
  </div>
</div>
<!-- our-menu-area end -->

<!-- latest-blog-area start -->
<div id="latest-blog " class="latest-blog-area ">
  <div class="container ">
    <div class="row ">
      <div class="col-md-12 ">
        <div class="section-title ">
          <h1>latest blog</h1>
        </div>
      </div>
      <div class="latest-blog-posts ">
        <div class="col-md-4 col-sm-6 ">
          <!-- single-blog-post start -->
          <div class="single-blog-post ">
            <div class="post-img ">
              <a href="blog-details-with-sidebar.html ">
                <img src="../../../assets/shaad-theme/img/latest-blogs/1.jpg " alt=" " />
              </a>
              <div class="post-overlay ">
                <div class="post-icon ">
                  <a href="blog-details-with-sidebar.html "><i class="zmdi zmdi-link "></i></a>
                </div>
              </div>
            </div>
            <div class="post-details ">
              <p class="post-meta "><span>26</span> // jun, 2016</p>
              <h6 class="post-title "><a href="blog-details-with-sidebar.html ">Lorem ipsum dolor sit amet,</a></h6>
              <p class="post-excerpt ">Lorem ipsum dolor sit amet, consectetur adipisces elit, sed do eiusmod tempor incididunt ut labore dolore magna
                aliqua.
              </p>
              <a href="blog-details-with-sidebar.html " class="read-more ">Read more</a>
            </div>
          </div>
          <!-- single-blog-post start -->
        </div>
        <div class="col-md-4 col-sm-6 ">
          <!-- single-blog-post start -->
          <div class="single-blog-post ">
            <div class="post-img ">
              <a href="blog-details-style1.html ">
                <img src="../../../assets/shaad-theme/img/latest-blogs/2.jpg " alt=" " />
              </a>
              <div class="post-overlay ">
                <div class="post-icon ">
                  <a href="blog-details-style1.html "><i class="zmdi zmdi-link "></i></a>
                </div>
              </div>
            </div>
            <div class="post-details ">
              <p class="post-meta "><span>26</span> // jun, 2016</p>
              <h6 class="post-title "><a href="blog-details-style1.html ">Lorem ipsum dolor sit amet,</a></h6>
              <p class="post-excerpt ">Lorem ipsum dolor sit amet, consectetur adipisces elit, sed do eiusmod tempor incididunt ut labore dolore magna
                aliqua.
              </p>
              <a href="blog-details-style1.html " class="read-more ">Read more</a>
            </div>
          </div>
          <!-- single-blog-post start -->
        </div>
        <div class="col-md-4 col-sm-6 hidden-sm ">
          <!-- single-blog-post start -->
          <div class="single-blog-post ">
            <div class="post-img ">
              <a href="blog-details-style2.html ">
                <img src="../../../assets/shaad-theme/img/latest-blogs/3.jpg " alt=" " />
              </a>
              <div class="post-overlay ">
                <div class="post-icon ">
                  <a href="blog-details-style2.html "><i class="zmdi zmdi-link "></i></a>
                </div>
              </div>
            </div>
            <div class="post-details ">
              <p class="post-meta "><span>26</span> // jun, 2016</p>
              <h6 class="post-title "><a href="blog-details-style2.html ">Lorem ipsum dolor sit amet,</a></h6>
              <p class="post-excerpt ">Lorem ipsum dolor sit amet, consectetur adipisces elit, sed do eiusmod tempor incididunt ut labore dolore magna
                aliqua.
              </p>
              <a href="blog-details-style2.html " class="read-more ">Read more</a>
            </div>
          </div>
          <!-- single-blog-post start -->
        </div>
      </div>
      <div class="load-more-btn-container text-center ">
        <div class="col-md-12 ">
          <a href="blog.html " class="load-more ">...</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- latest-blog-area end -->